.lecture-card{

width:280px;

background:#171717;

border-radius:18px;

overflow:hidden;

transition:.3s;

cursor:pointer;

border:1px solid #262626;

}

.lecture-card:hover{

transform:translateY(-8px);

box-shadow:0 15px 40px rgba(0,0,0,.45);

}

.card-banner{

height:170px;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

.card-content{

padding:18px;

}

.card-content h3{

font-size:22px;

margin-bottom:8px;

}

.card-content p{

color:#999;

margin-bottom:12px;

}

.card-content span{

display:flex;

align-items:center;

gap:6px;

color:#bbb;

font-size:14px;

}