.navbar{

position:fixed;

top:0;

left:0;

right:0;

height:70px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 40px;

background:rgba(10,10,10,.85);

backdrop-filter:blur(12px);

border-bottom:1px solid #222;

z-index:1000;

}

.logo{

font-size:30px;

font-weight:900;

letter-spacing:1px;

}

.logo span{

color:#E50914;

}

nav{

display:flex;

gap:30px;

}

nav a{

color:#ccc;

font-weight:600;

transition:.25s;

}

nav a:hover{

color:white;

}

nav a.active{

color:#E50914;

}

.icons{

display:flex;

gap:18px;

cursor:pointer;

}