*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:#0b0b0b;
  overflow:hidden;
}

.app{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.background{
  position:absolute;
  inset:0;
  background:
      radial-gradient(circle at top,#e50914 0%,transparent 35%),
      linear-gradient(#111,#000);
  filter:blur(50px);
  opacity:.35;
}

.content{
  z-index:2;
  text-align:center;
}

.logo{
  font-size:80px;
  color:white;
  font-weight:900;
  letter-spacing:3px;
}

.logo span{
  color:#E50914;
}

.tagline{
  margin-top:15px;
  color:#bfbfbf;
  font-size:22px;
}

.enterBtn{
  margin-top:45px;
  padding:18px 50px;
  background:#E50914;
  border:none;
  color:white;
  border-radius:8px;
  font-size:20px;
  cursor:pointer;
  transition:.3s;
}

.enterBtn:hover{
  transform:scale(1.06);
  background:#ff1b29;
}